body {
    background-color: rgb(50, 50, 50);
    color: ghostwhite;
}

a {
    color: rgb(250, 250, 250);
}

tr {
    margin: 5px;
}

.infotd {
    vertical-align: top;
}

p, li {
    font-size: 14px;
}

.banner {
    background-color: rgb(50, 50, 50);
    text-align: left;
}

.banner a {
    margin-right: 20px;
}
